.sidebar {
  margin: 80px 20px;
  width: 200px; /* Adjust sidebar width */
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000929;
  margin-right: 10px;
 
  z-index: 100; /* Ensure sidebar is above content */
  margin-left:20px;
  border-radius: 10px;
  box-shadow: 2px 2px #27ada6;
  
}

.sidebar .nav-link {
  display: flex;
  align-items: center ;
  padding: 10px 15px; /* Adjust padding as needed */
  color: #fff; /* Adjust text color as needed */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.nav-link:hover {
  background-color: #000; /* Background color on hover */
  color: #27ada6!important;
  margin: 0 10px;
}

.sidebar .nav-icon {
  margin-right: 15px; /* Space between icon and text */
 
}

.nav-link.active {
 
  font-weight: bold; /* Bold text for active link */
  color: #27ada6;
}

.mobile-only{
  display: none;
}
.sidebar.open {
  transform: translateX(0);
}
.sidebar-header {
  
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  
}
.sidebar-logo img {
  height: 40px;
}
.sidebar-toggle {
  display: none;
  font-size: 24px;
  color: #fff;
  background: none!important;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}


@media (max-width: 768px) {
  .sidebar-toggle {
    display: block;
    position: fixed;
    justify-content: flex-start!important;
  z-index: 100; /* Ensure it stays above other elements */
  background: none; /* Optional: Adjust as needed */
  border: none; /* Optional: Adjust as needed */
  cursor: pointer;
  overflow-y: hidden;
  }

  .sidebar {
   
    top: -20px;
    left: -22px;
    height: 100vh;
    width: 100%; /* Adjust as needed */
    background-color: #000929; /* Adjust as needed */
   text-align: flex-start!important;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000; /* Ensure it stays above other elements */
    
  }
  .mobile-only{
    display: block; 
    width: 100%;
  }
  .sidebar.open {
    transform: translateX(0);
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .nav-icon {
    margin-right: 10px; /* Optional: Adjust as needed */
  }
  
  .logout-container {
    margin-top: auto; /* Pushes logout button to the bottom */
    padding: 10px; /* Adjust as needed */
  }
  
  .logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none; /* Adjust as needed */
    border: none; /* Adjust as needed */
    cursor: pointer;
    padding: 10px; /* Adjust as needed */
  }
  
  .logout-text {
    margin-left: 5px; /* Adjust as needed */
  }
 
}